<header id="page-topbar">
    
    <div class="layout-width">
        <div class="navbar-header">
            <div class="d-flex">

                <!-- LOGO -->
                <div class="navbar-brand-box horizontal-logo">
                    <a href="" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="assets/img/logo.png" alt="" height="80">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/img/ic.png" alt="" height="80">
                        </span>
                    </a>

                    <a href="" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="assets/img/logo.png" alt="" height="80">
                        </span>
                        <span class="logo-lg">
                            <img src="assets/img/ic.png" alt="" height="50">
                        </span>
                    </a>
                </div>


                <!-- BUTTON MENU SAMPING SEARCH BAR-->
                <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                    id="topnav-hamburger-icon" (click)="toggleMobileMenu($event)"
                    style="margin-top: 9px;">
                    <span class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </button>


                <!-- WEB BUTTON = ISINYA BUTTON APP(GITHUB, DLL)-->
                <div class="dropdown topbar-head-dropdown ms-1 header-item" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar rounded-circle "
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="margin-top: 15px;" ngbDropdownToggle>
                        <i class='bx bx-category-alt fs-22 text-primary' style="margin-top: 2px;"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg p-0 dropdown-menu-end" ngbDropdownMenu>
                        <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="m-0 fw-semibold fs-15"> Web Apps </h6>
                                </div>
                                <div class="col-auto">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-soft-info"> View All Apps
                                        <i class="ri-arrow-right-s-line align-middle"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- GITHUB BUTTON -->
                        <div class="p-2">
                            <div class="row g-0">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/github.png" alt="Github">
                                        <span>GitHub</span>
                                    </a>
                                </div>
                                <!-- BITBUCKET BUTTON -->
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/bitbucket.png" alt="bitbucket">
                                        <span>Bitbucket</span>
                                    </a>
                                </div>
                                <!-- DRIBBLE BUTTON -->
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/dribbble.png" alt="dribbble">
                                        <span>Dribbble</span>
                                    </a>
                                </div>
                            </div>
                            <!-- DROPBOX BUTTON -->
                            <div class="row g-0">
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/dropbox.png" alt="dropbox">
                                        <span>Dropbox</span>
                                    </a>
                                    <!-- MAIL CHIMP BUTTON -->
                                </div>
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">
                                        <span>Mail Chimp</span>
                                    </a>
                                </div>
                                <!-- SLACK BUTTON -->
                                <div class="col">
                                    <a class="dropdown-icon-item" href="javascript:void(0);">
                                        <img src="assets/images/brands/slack.png" alt="slack">
                                        <span>Slack</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WEB BUTTON -->



                <!-- FULL SCREEN BUTTON -->
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button" class="btn btn-icon btn-topbar rounded-circle"
                        data-toggle="fullscreen" (click)="fullscreen()"
                        style="margin-top: 15px;">
                        <i class='bx bx-fullscreen fs-22 text-primary' style="margin-top: 2px;"></i>
                    </button>
                </div>

                <!-- THEME BUTTON -->
                <div class="ms-1 header-item d-none d-sm-flex">
                    <button type="button"
                        class="btn btn-icon btn-topbar rounded-circle light-dark-mode"
                        style="margin-top: 15px;">
                        <i class='bx bx-moon fs-22 text-primary' (click)="changeMode('dark')" style="margin-top: 2px;"></i>
                        <i class='bx bx-sun fs-22 text-primary' (click)="changeMode('light')" style="margin-top: 2px;"></i>
                    </button>
                </div>



                <!--USER PROFILE,LOGOUT,DLL-->
                <div class="dropdown topbar-head-dropdown ms-1 header-item" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar rounded-circle"
                        id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="margin-top: 15px;" ngbDropdownToggle>
                        <i class='ri-logout-box-r-line text-primary' style="margin-top: 2px; font-size: 20px;"></i>

                    </button>

                    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <!-- item-->

                        <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i
                                class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                class="align-middle" data-key="t-logout">Logout</span></a>
                    </div>
                </div>
                <!--END ALERTTTTTTT----------------------------------------------------------------------------->
            </div>
            <!-- END CODE SEARCH BAR-->



            <!-- ???? -->
            <div class="d-flex align-items-center">

                <div class="dropdown d-md-none topbar-head-dropdown header-item" ngbDropdown>
                    <button type="button" class="btn btn-icon btn-topbar rounded-circle"
                        id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" ngbDropdownToggle>
                        <i class="bx bx-happy-beaming fs-22"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                        aria-labelledby="page-header-search-dropdown" ngbDropdownMenu>
                        <form class="p-3">
                            <div class="form-group m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ..."
                                        aria-label="Recipient's username">
                                    <button class="btn btn-primary" type="submit"><i
                                            class="mdi mdi-magnify"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="responsive-logo">
                <img src="assets/img/aio-logo2.png" alt="Your avatar" height="46" />
            </div>


        </div>
    </div>

</header>