<div class="container mt-4">
  <h2>Document Upload</h2>
  <form (submit)="onSubmit(); $event.preventDefault()">
    <!-- Dropdown Material Selection menggunakan ng-select -->
    <div class="mb-3">
      <label for="material-select" class="form-label">Material</label>
      <ng-select
      [items]="materials"
      bindLabel="nama_material"
      bindValue="material_code"
      placeholder="Pilih Material"
      [(ngModel)]="selectedMaterial"
      name="material"
      (change)="updateSuppliers()"
      [searchable]="true"
      required>
    </ng-select>
    
    </div>

    <!-- Dropdown Supplier Selection menggunakan ng-select -->
    <div class="mb-3">
      <label for="supplier-select" class="form-label">Supplier</label>
      <ng-select
        id="supplier-select"
        [items]="filteredSuppliers"
        bindLabel="name_vendor"
        placeholder="Pilih Supplier"
        [(ngModel)]="selectedSupplier"
        name="supplier"
        (change)="updateSupplierInfo()"
        [searchable]="true"
        required>
        <ng-template ng-option-tmp let-item="item">
          {{ item.name_vendor }} ({{ item.kode_vendor }})
        </ng-template>
      </ng-select>
    </div>

    <!-- File Upload untuk Quality Statement -->
    <div class="mb-3">
      <label for="doc_qs" class="form-label">Document Upload (Quality Statement)</label>
      <input
        type="file"
        id="doc_qs"
        class="form-control"
        (change)="onFileSelected($event, 'doc_qs')"
        accept=".pdf"
      />
    </div>

    <!-- File Upload untuk Supplier Statement -->
    <div class="mb-3">
      <label for="doc_ss" class="form-label">Document Upload (Supplier Statement)</label>
      <input
        type="file"
        id="doc_ss"
        class="form-control"
        (change)="onFileSelected($event, 'doc_ss')"
        accept=".pdf"
      />
    </div>

    <!-- File Upload untuk AIOS -->
    <div class="mb-3">
      <label for="doc_aios" class="form-label">Document Upload (AIOS)</label>
      <input
        type="file"
        id="doc_aios"
        class="form-control"
        (change)="onFileSelected($event, 'doc_aios')"
        accept=".pdf"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr />


  <button class="btn btn-secondary mt-3" (click)="goBackToSupplier()">
    Kembali ke Supplier
  </button>

