<footer style="padding: 20px; margin: 10px 22px 0px 25px;
                border-radius: 8px;
                border: 1px solid rgba(234, 234, 234, 0.765);
                background-color: #ffffff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
               {{year}} © PT Amerta Indah Otsuka
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Designed & Developed by PT Amerta Indah Otsuka
                </div>
            </div>
        </div>
    </div>
</footer>